{% load i18n bootstrap staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.7/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.7/js/i18n/defaults-sv_SE.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
  </head>

  <body>
    
    {% block nav_bar %}
      <div class="menu-spacing"></div>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container container-full">
        <div class="navbar-header navbar-brand">
          {% block navbar_brand %}
            Roleplaying manegement
          {% endblock %}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% block top_menu %}
            <ul class="nav navbar-nav navbar-right navbar-buttons">
              {% block navbar_right %}
                {% if user.is_authenticated %}
                  <li>
                    <a href="/accounts/signout">
                      {% trans "Logga ut" %}
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li{% if schooladmin %} class=" active"{% endif %}>
                    <a href="{% url 'profile_detail' user.username %}">
                      {% trans "Min profil" %}
                    </a>
                  </li>
                  {% comment %}
                  <li class="dropdown{% if account in request.path %} active{% endif %}">
                    <a href="{% url 'userena_profile_detail' user.username %}" class="navbar-user">
                      <img class="img-circle avatar-image" src="{{ user.profile.get_mugshot_url }}" alt="" />
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% url 'userena_profile_detail' user.username %}">{% trans "View my profile" %}</a></li>
                      <li class="divider"></li>
                      <li><a class="small" href="{% url 'userena_profile_edit' user.username %}">{% trans "Profile settings" %}</a></li>
                      <li><a class="small" href="{% url 'userena_signout' %}">{% trans "Log out" %}</a></li>
                    </ul>
                  </li>
                  {% endcomment %}
                {% else %}
                  <li><a class="" href="{% url 'signup' %}">{% trans "Create account" %}</a></li>
                  <li class="divider"></li>
                  <li><a class="" href="{% url 'signin' %}">{% trans "Log in" %}</a></li>
                {% endif %}
              {% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-center navbar-buttons">
              {% block navbar_center %}
                {% if user.is_authenticated %}

                {% endif %}
              {% endblock %}
            </ul>
          {% endblock %}
        </div>
      </div>
      </nav>
    {% endblock %}

    <div class="jumbotron header color-transparent">
      <div class="container">
        {% block header %}
        {% endblock %}
      </div>
    </div>

    {% block content_tabs %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    {% endblock %}


    {% block custom_scripts %}{% endblock %}

  </body>

</html>