{% extends "base_template.html" %}
{% load i18n bootstrap staticfiles %}
{% load url from future %}
{% block content %}
<div class="section color-primary-lighter fill-screen">
  <div class="container screen-centered">
    <div class="col-maincontent-small">
      <h2>{% trans "Reset password" %}.</h2>
      <p class="text-center">{% trans "An e-mail has been sent to you which explains how to reset your password." %}</p>
      <p class="text-center"><a href="{% url 'userena_signin' %}" class="btn btn-white"><i class="fa fa-chevron-left"></i> {% trans "Back to sign in" %}</a></p>
    </div>
  </div>
</div>
{% endblock %}