{% extends "base_template.html" %}
{% load i18n bootstrap staticfiles %}
{% load url from future %}
{% block content %}
<div class="section color-primary-lighter fill-screen">
  <div class="container screen-centered">
    <div class="col-maincontent-small">
      <form action="" method="post">
        <h2 class="text-center">{% trans "Reset password" %}.</h2>
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">{% trans 'Send password' %}</button>
      </form>
      <div class="text-center">
        <br /><br />
        <a href="javascript:history.go(-1);" class="btn btn-white"><i class="fa fa-chevron-left"></i> {% trans "Back to sign in" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}