{% extends "base_template.html" %}
{% load i18n bootstrap staticfiles %}
{% load url from future %}
{% block content %}
<div class="section color-primary-lighter fill-screen">
  <div class="container screen-centered">
    <div class="col-maincontent-small">
      <h2>{% trans "Your password has been reset" %}.</h2>
      <p class="text-center">{% blocktrans %}You can now <a href="{{ signin_url }}">sign in</a> with your new password.{% endblocktrans %}</p><br />
      <p class="text-center"><a href="{{ signin_url }}" class="btn btn-primary">{% trans "Go to sign in" %}</a></p>
    </div>
  </div>
</div>
{% endblock %}